:root {
    --font-size: 1.1vw;
    --line-height: 1.3em;
    --font-size--notes: 0.9vw;
    --line-height--notes: 1.3em;
    /* --magenta: #ff38c4; */
    --magenta: #D9027D;
}

.print-only {
    display: none;   
}

body  {
    display: flex;
    background-color: #F8F8F8;
    /* background-color: var(--magenta); */
    background: linear-gradient(to right, var(--magenta), var(--magenta) 25vw, white 25vw);
    /* flex-wrap: wrap; */
    /* margin-left: 6%; */
}


section.right {
    flex: 1 0;
    background-color: white;
}

nav {
    padding-top: 10em;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
    position: sticky;
    height: calc(100vh - 10em);
    top: 0;
    width: 0px;
    z-index: 2;
    transition: width .25s, margin .25s;
}

header {
    color: white;
    height: 100vh;
    position: sticky;
    top: 0;
    width: 130px;
}

header h1 {
	font-size: 1.1em;
	line-height: 1.5em;
	padding: 0;
	transform: rotate(-90deg);
    transform-origin: bottom right;
	position: absolute;
	bottom: calc(100% - 1em);
    right: 0.5em;
}

nav ul {
    font-size: 18px;
    line-height: 1.3em;
    top: 0;
    left: 0px;
    position: absolute;
    /* background: #F8F8F8; */
    background: var(--magenta);
    color: white;
    padding: 0;
    width: 0;
    height: 100%;
    border: 0;
    padding: 1.5em 0;
    margin-top: 0;
    height: 100vh;
    border-left: 1px solid white;
    width: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1400px) {
    nav ul {
        font-size: 16px;
    }
}

nav ul li.active {
    text-decoration: underline;
}

nav ul li:before {
    content: "";
}

nav ul li.spacer {
    flex: 1 1;
}

nav[data-active] {
    background-color: #F8F8F8;
    background-color: var(--magenta);
    width: 350px;
    margin-right: -350px;
    transition: width .25s, margin .25s;
}

nav[data-active] ul {
    overflow: hidden;
    z-index: 100;
    overflow-y: auto;
    overflow-x: hidden;
}

nav ul li {
    width: 280px;
    margin: 0em 1.5em .25em 1.5em;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav ul li {
    margin-left: calc(1.5em + 15px);
    text-indent: -15px;
}

nav ul a.active {
    font-size: 1.5em;
    line-height: 1.25em;
}

.toc {
    position: sticky;
    top: 32vh;
    height: 68vh;
    overflow-y: auto;
    margin-left: -12.5em;
    padding-left: 2.5em;
    font-size: 0.7em;
    line-height: 1.25em;
    width: 200px;
    float: left;
}
.toc ul {
    padding-top: 0;
    padding-bottom: 0;
}

.toc  ul {
    border: 0;
    padding-left: 0;
    border: 0;
}
/* 
.toc > ul li:before {
    content: "├ ";
}

.toc ul ul li:before {
    content: "├─ ";
}
.toc ul ul ul li:before {
    content: "├── ";
} */

.toc ul a:hover {
    text-decoration: underline;
}

#canvas iframe {
    height: 100%;
    width: 100%;
}

#canvas {
    /* position: sticky; */
    /* top: 0; */
    /* margin-top: 110vh; */
    height: 100vh;
}

main {
    flex: 1.3 0;
    z-index: 1; /** Necessary to make the graph lay over the right column */
    box-sizing: border-box;
    padding-top: 2em;
    padding-right: 4em;
    padding-bottom: 10em;
    border-left: 1em solid #F8F8F8;
    border-left-color: var(--magenta);
    background-color: white;
}

body[data-sketch-fullscreen] main {
    overflow-x: hidden;
    flex: 0 0 0px;
    padding: 0;
}

body[data-sketch-fullscreen] {
    overflow-y: hidden;
}

h1 {
    margin-left: 1em;
}

main h1 {
    position: sticky;
    top: 0;
    margin-left: 0;
    padding-left: 1em;
    padding-bottom: 0;
    background: white;
}

main h1 + p img {
    margin-left: 25vw;
    max-height: 80vh;
}


h2 {
    counter-increment: h2;
    line-height: calc(1.4 * var(--line-height));
}
h2:before {
    content: counter(h1) + "." + counter(h2);
}

#canvas iframe {
    height: 100vh;
}

main .active {
    background-color: lightyellow;
}


p, blockquote, li {
    letter-spacing: .25px;
}

div.footnote {
    font-size: var(--font-size--notes);
    line-height: var(--line-height--notes);
}

h2[id^="further-reading"] + ul,
h2[id^="required-reading"] + ul,
.long-list ul {
    font-size: var(--font-size--notes);
    line-height: var(--line-height--notes);
    border-left: 0;
    padding: 0;
    margin: 0;
    letter-spacing: -0.1px;
    word-spacing: -0.5px;
    max-width: 80%;
}


.long-list ul {
    column-count: 2;
    max-width: initial;
}
/* h2[id^="further-reading"] + ul,
l {
    margin-top: calc(1 * var(--line-height));
    font-size: var(--font-size--notes);
    line-height: var(--line-height--notes);
}*/
h2[id^="further-reading"] + ul li,
h2[id^="required-reading"] + ul li,
.long-list ul li {
    margin-bottom: calc(0.5 * var(--line-height--notes));
    padding: 0;
    display: inline-block;
    vertical-align: top;
}
/* 
h2[id^="required-reading"] + ul li {
    margin-bottom: calc(0.5 * var(--line-height));
} */


/** Exercise boxes */
div.exercise {
    border: 4px double black;
    padding-left: var(--line-height);
    padding-right: var(--line-height);
}

div.exercise h2 {
    border-top: none;
}

div.exercise:after {
    display: none;
}

div.exercise .section {
    border-left: 0;
}


@media screen and (max-width: 2000px) {
    :root {
        --font-size: 19px !important;
        --line-height: 1.45em !important;
        --font-size--notes: 15px !important;
        --line-height--notes: 1.45em !important;
    }
    nav {
        padding-top: 9em;
        height: calc(100vh - 9em);
    }
    nav h1 {
        font-size: 22px;
    }
    .toc {
        top: 39vh;
    }
}

.section {
    padding-left: 2.5em;
    border-left-color: var(--magenta);
}

.section .subsection  {
    margin-top: 2em;
    padding-left: 2.5em;
    margin-left: -2.5em;
    border-left-color: var(--magenta);
}

h4 ~ p,
h4 ~ ol,
h4 ~ ul,
h4 ~ blockquote,
h4 ~ table,
h4 ~ div,
h3 ~ h4 {
    border-left-color: var(--magenta);
}

h3 {
	padding-top: calc(0.5 * var(--line-height));
}

a {
    border-bottom: none;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a[target="_blank"] {
    word-break: break-all;
}

body.home .right {
    flex: 0 0;
}

.coverGraph {
    outline: none;
    grid-column-end: span 3;
    max-height: 80vh;
    margin-left: 3em;
    margin-bottom: 2em;
    max-width: 80vw;
    max-width: initial;
}

body.home #content h1 {
    display: none;
}
 
/* body.home #page-list {
	max-width: 60em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: .5em;
	row-gap: .5em;
	grid-auto-rows: 3em;
} */
/* body.home #page-list li {
	border: 1px solid black;
	padding: .5em;
    margin-left: 0;
    text-indent: 0;
} */

body.home #page-list {
    border: none;
    font-size: 120%;
    line-height: 1.45em;
}

body.home #page-list li::before {
	content: "";
}

body.home #content {
    display: grid;
    grid-template-columns: minmax(400px, 900px) 400px auto;
    grid-auto-rows: min-content;
    column-gap: 2em;
}

header h1 a {
    word-break: normal !important;
}

#frontpage--links {
    position: absolute;
    top: var(--line-height);
    right: var(--line-height);
    color: var(--magenta);
    text-align: right;
}

.flowchart-spread {
    max-width: 80vw;
    margin-left: 5vw;
    margin-right: -40vw;
}

.notes--afterword {
    font-size: var(--font-size--notes);
    line-height: var(--line-height--notes);
    margin-bottom: calc(2 * var(--line-height--notes));
    column-count: 2;
    column-gap: var(--line-height--notes);
}



/** Max width for content of main */

.page main > section {
    max-width: 41em;
}

section.right {
    position: sticky;
    top: 0;
    height: 100vh;
    margin-top: 110vh;
    z-index: 1;
}


#sketch--toggle {
    display: none;
}

#sketch--toggle--navbar {
    box-sizing: border-box;
    padding-right: 25px;
    position: absolute;
    z-index: 1;
    right: 100%;
    bottom: 100%;
    width: 100vh;
    transform: rotate(-90deg); 
    transform-origin: bottom right;
    text-align: right;
}

[data-sketch-fullscreen] #sketch--toggle--navbar {
    display: none;
}

.sketch--toggle {
    display: inline-block;
    white-space: nowrap;
    color: var(--magenta);
    padding: .25em .5em 0 .5em;
    font-size: 85%;
    cursor: pointer;
    margin-right: 25px;

    border-top: 1px solid var(--magenta);
    border-right: 1px solid var(--magenta);
    border-left: 1px solid var(--magenta);
}

.sketch--toggle[data-active] {
    color: white;
    background-color: var(--magenta);
}

.sketch--toggle:before {
    content: "Show ";
}

.sketch--toggle[data-active]:before {
    content: "Hide ";
}

section.right {
    flex: 0 0;
}

[data-sketch-visible] section.right {
    flex: 1 0;
}

.sketch--wrapper {
    display: none;
}

.sketch--wrapper[data-active] {
    display: block;
}

#showcase h3 {
    grid-column: span 2;
}

#showcase h4 {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
}

#showcase figure + p {
    margin-top: var(--line-height);
    padding-top: .25em;
}

#showcase > div.subsection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: var(--line-height);
    column-gap: var(--line-height);
}

#showcase figure {
    width: 100%;
    float: none;
    padding: 0;
    margin: 0;
}

#showcase h4 ~ p, 
#showcase h4 ~ ol, 
#showcase h4 ~ ul, 
#showcase h4 ~ blockquote, 
#showcase h4 ~ table, 
#showcase h4 ~ div, 
#showcase h3 ~ h4 {
    border-left: none;
}